.add-liquidity {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}

.add-liquidity-header-modal {
  display: flex;
  flex-direction: row;
  margin: 2rem 2rem 2rem 1.5rem;
}

.add-liquidity-header-modal * {
  display: flex;
}

.add-liquidity-header-modal .btn-modal-back {
  background: url("../../../assets/images/buttons/ic_back_white.svg") no-repeat
    center center;
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  // left: 24;
  border: none;
  cursor: pointer;
}

.input-asset {
  @apply mt-4 px-4 py-6 text-[#3EE8FF] font-bold text-2xl border border-[#4F92A7] rounded-lg bg-transparent;
}

.liquid-wrapper {
  @apply border-2 border-[#4F92A7] rounded-lg;
}

.price-pool-item {
  @apply flex flex-col px-4 space-y-2 items-center
}

.price-pool-item .value {
  @apply text-lg
}

.price-pool-item .label {
  @apply text-base
}

.price-pool-share-row {
  @apply flex flex-row flex-1 justify-between items-center;
}

.price-pool-share-row p {
  @apply text-base
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #182d52 0%, #172130 100%);
  z-index: 99999;
}
