.launchpad {
    background: linear-gradient(109.17deg, #182D52 0%, #172130 100%);
}

.mylaunchpad {
    background: #00102B;
}

header:not(.navigation) {
    z-index: 1;
    position: relative;
}

.head-img {
    margin-top: -65px;
}

.head-img p {
    background: linear-gradient(91.96deg, #0FE3E3 0%, #02A4FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: "Safety";
}

.head-box {
    width: 32px;
    height: 32px;
}

.head-box.box-1 {
    top: 59.5%;
    left: 15.5%;
}

.head-box.box-2 {
    top: 59.5%;
    left: 18.9%;
}

.head-box.box-3 {
    top: 59.5%;
    left: 22.2%;
}

.head-box.box-4 {
    top: 59.5%;
    left: 25.5%;
}

//raise box
.count-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 26.5px;
    gap: 4px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 8px;

    /* Inside auto layout */
    width: 20%;
    height: 68px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.raise-allocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    gap: 16px;

    width: 200px;
    height: 28px;

    /* Rinz/item menu */

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 6px;
}

.head_lanchpad,
.raise-box-1,
.launchpad-content-2 {
    width: 70%;
    @media (max-width: 1024px) {
        width: 75%;
    }
}

.mylaunch-contentbg {
    background: linear-gradient(109.17deg, #121426 0%, #0C2E42 100%);
    border-radius: 16px;
}

.raise-box-1 {
    background-image: url('../../assets/images/launchpad/market3.jpg');
}

.raise-box-2 {
    margin-left: 2rem;
}

.raise-box-2,
.launchpad-content-1 {
    width: 30%;
    @media (max-width: 1024px) {
        width: 25%;
    }
}

.launchpad-content-1 a {
    cursor: pointer;
    font-size: 16px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: transparent;
    //    opacity: 0.5;
    height: 6px;
}

input[type='range']::-webkit-slider-runnable-track {
    // -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    cursor: default;
    // background: transparent;
    box-shadow: -80px 0 0 80px #43e5f7;
}

input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
}

.raise-input {
    border: 2px solid #182844;
    border-radius: 8px;
    padding: 5px 15px;
    display: flex;
}

.raise-input input {
    border: none;
    background-color: transparent;
    width: 80%;
    font-weight: 400;
    font-size: 16px;
}

.raise-input input:focus {
    outline: none;
}

.raise-button {
    width: 20%;
    font-size: 16px;
    color: #3EE8FF;
    font-weight: 700;
    text-align: right;
}

.raise-icon {
    height: 34px;
    width: 34px;
}

.raise-submit {
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    border-radius: 8px;
    font-size: 1rem;
    line-height: 24px;
    padding: 12px;
    font-family: "Poppins";
    transition: all 0.3s ease-in;
    background: linear-gradient(91.96deg, #0fe3e3 0%, #02a4ff 100%);
}

.raise-submit.disabled {
    color: #4B5C86;
    background: #232E49 !important;


}

//range-wrap
.slider-parent,
.slider-parent input {
    width: 100%;
}

input[type="range"] {
    background: rgb(25, 49, 70) !important;
}

//content
.mylaunchpad-wrapper {
    margin-top: -63.66px;
}

.launchpad-filter-btn {
    width: fit-content;
    height: auto;

    padding: 4px;
}

.launchpad-filter-btn a {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    padding: 0.45rem 3rem;
    margin-right: 32px;
    display: inline-block;
    background: #0E1B31;
    border-radius: 8px;
    border: 1px solid #3EE8FF;
}

.launchpad-filter-btn .active {
    background: linear-gradient(91.96deg, #0fe3e3 0%, #02a4ff 100%);
    border-radius: 8px;
    border: unset;
}

.launchpad-content-2 {
    border-left: 1px solid #4B5C86;
}

.launchpad-contend-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 56px;
    background: #223453;
    border-radius: 8px;
    align-self: stretch;
    color: #3EE8FF;

}

.launchpad-content-1 a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 56px;
    padding: 16px;
}

.launchpad-content-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #3EE8FF;
}

.launchpad-content-text.blue-text {
    color: #3EE8FF;
}

.launchpad-content-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    flex: none;
    order: 1;
    align-self: stretch;
    color: #ffffff;
}

.scrollmargin {
    scroll-margin-top: 100px;
}

.rocket-bg {
    position: absolute;
    width: 100%;
    height: 100%;


    background: radial-gradient(50% 50% at 50% 50%, #1089A4 0%, #000000 88.54%);
    mix-blend-mode: screen;
    opacity: 0.5;
    filter: blur(50px);
}

.apply-btn {
    padding: 12px 32px;
    gap: 16px;
    height: 56px;
    background: linear-gradient(91.96deg, #02A4FF 22.92%, #0FE3E3 100%);
    border-radius: 8px;
}

// mylaunch
.test {
    width: 751px;
    height: 54px;

    font-family: 'Safety';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 54px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* VB/ Primary */

    background: linear-gradient(91.96deg, #0FE3E3 0%, #02A4FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.arrowbtn-wraper {
    padding: 8px 12px;
    background: rgba(14, 27, 49, 0.1);
    border-radius: 8px;
}

//responsive
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 24px !important;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.swiper-wrapper {
    padding-bottom: 48px !important;
}

.dropdown-wraper {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;

    width: 185px;
    height: 40px;

    border: 1px solid #666D81;
    border-radius: 32px;
}

@media (min-width: 767px) {
    .launchimg-img {
        display: block !important;
    }

    .launchimg-img-mb {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .launchpad-content-2 {
        width: 100%;
        border-left: none;
    }

    .launchimg-img {
        display: none !important;
    }

    .raise-box-1 .raise-box-img {
        display: block !important;
    }

    .raise-box-1 {
        background-image: none;
        height: auto !important;
    }

}

@media (max-width: 768px) {
    .md\:mylaunch-btn-wapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .md\:mylaunch-btn-wapper {
        width: unset;
    }
}

@media (max-width: 1280px) {
    .launchpad-content-1 a {

        width: fit-content;
        min-width: 218px;
    }

}
@media (max-width: 1024px) {
    .launchpad-content-1 a {

        width: fit-content;
        min-width: 180px;
    }

}
@media (max-width: 1280px) {

    .raise-box-1 {
        width: 100%;
        height: 400px;
    }

    .raise-box-2 {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .raise-box-img {
        width: 100%;
    }

    .count-down {
        padding: 10px 20.5px;
        width: auto;
    }
}
.flip-card {
    background-color: transparent;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: transparent;
    color: black;
  }
  
  .flip-card-back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
  }
.team-bg {
    background: linear-gradient(109.41deg, #0F1428 0%, #0D293F 86.77%);
    border-radius: 16px;
}

@media (max-width: 370px) {

    .count-down {
        padding: 10px 12.5px;
        width: auto;
    }
}